
/* CSS Reset */
html,body{margin:0;padding:0; background: #fff;}
body{font:12px/1.5 Dotum, "援대┝", Gulim, Arial, sans-serif;color:#777;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td,select{margin:0;padding:0;}
input,textarea,select,td,th{font:12px/1.5 "�뗭�", Dotum, "援대┝", Gulim, Arial, sans-serif;color:#777;vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
table{width:100%;table-layout:fixed;border-spacing:0;border-collapse:collapse;}
ol,ul,li{list-style:none;}
hr, legend, caption, .hidden{position:absolute;left:-5000px;top:0;visibility:hidden;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%;}
caption{position:relative;}
img,fieldset{vertical-align: top; border:0 none;}
label,button{cursor:pointer;}
em,address{font-style:normal;}
strong {vertical-align: top;}
iframe {border: 0;}
input {vertical-align: top; cursor: pointer; border: 0; background: none;}
a:link,a:visited{color:#777;text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:underline;}
a:hover {text-decoration: underline !important; cursor: pointer !important;}
button {margin: 0; padding: 0; overflow: visible; border: 0; background: none;}
span.empty {width: 0; height: 100%; display: inline-block; margin: 0 0 0 -4px; vertical-align: middle;}
*+html span.empty {display: inline;}
img {max-width: 100%;}



.slide {width: 700px; overflow: hidden; position: relative; margin: 0 auto;}
.slide > ul {position: absolute; top: 0; left: 0; white-space: nowrap; font-size: 0;}
.slide > ul:after {content:""; display: block; clear: both;}
.slide > ul > li {display: inline-block; margin: 0 0 0 10px; font-size: 12px;}
.slide > ul > li:first-child {margin: 0;}

.btn {position: relative;}
.btn > button {width: 30px; position: absolute; top: 0; line-height: 18px; text-align: center; background: #ff0;}
.btn > button.prev {left: 0;}
.btn > button.next {right: 0;}
